/* font-family: "Poppins", sans-serif; */
/* font-family: "Mynerve", cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: #edede9;
}

h1{
  font-size: 48px;
  font-weight: 700;
  color: #8338ec;
  font-family: "Mynerve", cursive;
}
h1 span{
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #e76f51;
}