/* font-family: "Poppins", sans-serif; */
/* font-family: "Mynerve", cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --orange: #e76f51;
  --purple: #8338ec;
  --bg: #edede9;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: #edede9;
  /* text-align: center; */
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
}

#word-counter, #html-formatter, #css-formatter, #json-formatter, #lorem-generator{
  display: none;
}

h1{
  font-size: 48px;
  font-weight: 700;
  color: #8338ec;
  font-family: "Mynerve", cursive;
}
h1 span{
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #e76f51;
}
header{
  background: #f5ebe0;
  box-shadow: 0 0 15px 1px grey;
}

header .nav-wrapper, ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
}
header ul li{
  padding: 10px 15px;
  background: linear-gradient(90deg, var(--orange), var(--purple));
  border-radius: 5px;
  border: 1px solid var(--bg);
  color: var(--bg);
  cursor: pointer;
  transition-duration: 500ms;
}
button{
  padding: 10px 15px;
  background: linear-gradient(90deg, var(--orange), var(--purple));
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--bg);
  color: var(--bg);
  cursor: pointer;
}
button:hover{
  background: transparent;
  color: var(--purple); 
  border: 1px solid var(--orange);
  box-shadow: 0 0 15px 1px var(--orange);
  transition-duration: 500ms;
}
header ul li:hover{
  background: transparent;
  color: var(--purple); 
  border: 1px solid var(--orange);
  box-shadow: 0 0 15px 1px var(--orange);
}
.active{
  background: transparent;
  color: var(--purple); 
  border: 1px solid var(--orange);
  box-shadow: 0 0 15px 1px var(--orange);
}
h2{
  color: var(--purple);
  font-size: 38px;
  margin: 20px 0;
  text-align: center;
}
h3{
  color: var(--orange);
  font-size: 24px;
  margin: 15px 0;
}

#case-converter{
  padding: 100px 0;
}
#case-converter .case-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#case-converter .buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.input{
  width: 100%;
}
.output{
  width: 100%;
}
textarea{
  width: 100%;
  background: #f5ebe0;
  height: 30rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--orange);
  box-shadow: 0 0 5px 1px var(--orange);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
textarea:focus{
  outline: none;
}
.output textarea{
  width: 100%;
  height: 30rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--purple);
  box-shadow: 0 0 5px 1px var(--purple);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.output h3{
  color: var(--purple);
}
#word-counter{
  padding: 100px 0;
}
#word-counter .word-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#word-counter .word-wrapper .input{
  text-align: center;
}
#word-counter .word-wrapper button{
  margin: 20px 10px;
}
#word-counter .word-wrapper .count-result{
  font-size: 26px;
  color: var(--orange);
  font-weight: 600;
}
#html-formatter{
  padding: 100px 0;
}
#html-formatter .html-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#css-formatter{
  padding: 100px 0;
}
#css-formatter .css-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#json-formatter{
  padding: 100px 0;
}
#json-formatter .json-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#lorem-generator{
  padding: 100px 0;
}
#lorem-generator .lorem-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#lorem-generator .lorem-wrapper label{
  font-size: 24px;
  color: var(--purple);
}
#lorem-generator .lorem-wrapper input{
  width: 15%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--orange);
  box-shadow: 0 0 5px 1px var(--orange);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.mobile-menu-button{
  display: none;
}


@media (max-width: 768px){
  .container{
    max-width: 100%;
    margin: 0 10px;
  }
  .mobile-menu-button{
    display: block;
  }
  .nav-items{
    display: none;
  }
  header .nav-wrapper{
    flex-direction: column;
    gap: 5px;
  }
  header ul{
    flex-wrap: wrap;
  }
  header ul li{
    padding: 10px 15px;
    font-size: 16px;
    margin: 8px 0;
  }
  h1{
    font-size: 38px;
  }
  h1 span{
    font-size: 28px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 20px;
  }
  #case-converter .case-wrapper{
    flex-direction: column;
    gap: 20px;
  }
  #case-converter .buttons{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  #case-converter .buttons button{
    padding: 10px 15px;
    font-size: 16px;
  }
  #case-converter .buttons button:hover{
    padding: 10px 15px;
    font-size: 16px;
  }
  #case-converter .buttons button.active{
    padding: 10px 15px;
    font-size: 16px;
  }
  #word-counter .word-wrapper button{
    padding: 10px 15px;
    font-size: 16px;
  }
  #html-formatter .html-wrapper {
    flex-direction: column;
  }
  #css-formatter .css-wrapper {
    flex-direction: column;
  }
  #json-formatter .json-wrapper {
    flex-direction: column;
  }
  #word-counter .word-wrapper .count-result{
    font-size: 20px;
  }
  #lorem-generator .lorem-wrapper input{
    width: 30%;
    padding: 5px;
    font-size: 16px;
  }


}